/* google fonts */
@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Rubik', sans-serif;
}

body {
    background-color: #EFF2F5;
}

.container {
    max-width: 1920px;
    margin: 0 auto;
    overflow: auto;
    padding: 0 12px;
}

a {
    text-decoration: none;
}

ul {
    list-style-type: none;
    margin-bottom: 0 !important;
}

p {
    color: #606162;
    line-height: 1.5rem;
}
/* ----------------------------pota */

/* nav */
.nav-wrapper {
    background-color: #dee1e3;
    color: #393b3d;
}

nav.flex {
    justify-content: space-between;
}

nav img {
    margin-right: 3.5rem;
}

nav {
    height: 45px;
}

nav ul {
    display: flex;
    align-items: center !important;
    justify-content: center;
}

nav ul li {
    padding: 0 2rem;
}

nav ul li a {
    color: #393b3d;
    font-size: 1.1rem;
    font-weight: 500;
    padding: 10px 0;
}

.nosubmit {
    display: inline-block;
    background-color: #fff;
    border: none;
    border-radius: 8px;
    padding: 0 6px;
}

.searchbtn {
    background-color: inherit;
    border-style: none;
}

.search-icon {
    font-size: 18px;
}

.search {
    background-color: inherit;
    border-style: none;
    color: #393b3d;
    height: 28px;
    font-size: 1.1rem;
    font-weight: 400;
    margin-left: 3px;
    width: 500px;
}

.search:focus-visible {
    outline: 0;
    outline-offset: 0;
}

nav div:nth-child(2) a:nth-child(1) {
    background-color: #00b06f;
    color: #fff;
}

nav div:nth-child(2) a {
    border-radius: 8px;
    padding: 0.5rem 0.7rem;
    border: none;
    font-size: 1rem;
    font-weight: 500;
}

/*  Hero Section*/
.hero-container {
    height: 80vh;
    position: relative;
}

.hero-video,.hero-content {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}
.hero-video {
    object-fit: cover;
}

.hero-content {
    color: #fff;
    z-index: 10;
}

.hero-content.flex {
    flex-direction: column;
    height: 100%;
}

.hero-heading.flex {
    gap: 1.5rem;
    margin-bottom: 100px;
}   

.hero-heading h1 {
    font-size: 3.5rem;
}

.hero-content div:nth-child(2) h1 {
    font-size: 75px;
    font-weight: 500;
    line-height: 64px;
    letter-spacing: 1.2px;
    margin-bottom: 28px;
}

.hero-content div:nth-child(3) p {
    color: rgba(255,255,255,0.7);
    font-weight: 400;
    font-size: 40px;
    letter-spacing: 1.2px;
    margin-bottom: 108px;
}

.hero-content div:nth-child(4) button {
    background-color: #393b3d;
    border: none;
    border-radius: 8px;
    color: #fff;
    font-size: 26px;
    line-height: 31px;
    letter-spacing: 1.2px;
    margin-bottom: 26px;
    padding: 12px 12px;
    width: 300px;
}

.hero-content div:nth-child(5) a {
    color: #fff;
    font-size: 1.15rem;
    font-weight: 400;
    letter-spacing: 1.5px;
}

/* Blurbs Section */
.blurbs-wrapper {
    background-color: #EFF2F5;
    color: #393B3D;
    padding: 50px 0;
    display: flex;
    justify-content: center;
    flex-direction: row;
}

.blurbs-wrapper .blurbs-child {
    text-align: center;
    margin: 0 47.5px;
    width: 300px;
    display: inline-block;
}

.blurbs-wrapper .blurbs-child img {
    height: 280px;
    width: 280px;
}

.blurbs-wrapper .blurbs-child h3 {
    color: #393B3D;
    font-size: 24px;
    font-weight: 400;
    line-height: 1.3em;
    padding: 30px 0;
}

.blurbs-wrapper .blurbs-child p{
    color: #606162;
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 1.5rem;
}

/* Testimonials Section */
.testimonials-container {
    background-color: #EFF2F5;
    color: #393B3D;
    max-width: 970px;
    margin: 0 auto;
    text-align: center;
    padding: 60px 0;
}

.testimonials-container h2{
    padding-bottom: 50px;
    font-size: 40px;
    font-weight: 700;
    line-height: 1.4em;
}

.active-testimonial {
    color: #393B3D;
    font-size: 16px;
    position: relative;
}

.crousel-slide-container {
    text-align: center;
    width: 730px;
    padding: 60px 10px 10px;
    margin: 0 auto 50px;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.4em;
}

.textbox {
    background-color: #fff;
    color: #393B3D;
    font-size: 16px;
    width: 710px;
    height: 170px;
    margin: 0 auto;
    position: relative;
}

.active-testimonial img {
    height: 100px;
    width: 100px;
    position: absolute;
    top: 0;
    left: 50%;
    margin-left: -50px;
    margin-top: -50px;
}

.active-testimonial p{
    font-size: 17px;
    width: 650px;
    margin: 0 auto;
    padding-top: 50px;
    padding-bottom: 20px;
    position: relative;
}
.active-testimonial em{
    font-size: 18px;
    font-style: italic;
    font-weight: 500;
    position: relative;
}
/* bootstrap crousel */
.my-prev {
    background: 0 0;
    border: 0;
    color: #393B3D;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: inherit;
    margin: 0;
    padding: 0;
    position: absolute;
    bottom: 0;
    left: 0;
    top: 0;
    text-align: center;
    transition: opacity .15s ease;
    width: 15%;
    z-index: 1;
}

.my-next {
    background: 0 0;
    border: 0;
    color: #393B3D;
    cursor: pointer;
    position: absolute;
    bottom: 0;
    top: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    text-align: center;
    transition: opacity .15s ease;
    width: 15%;
    z-index: 1;
}

.my-prev span i, .my-next span i {
    font-size: 25px;
}

.carousel-indicators [data-bs-target] {
    background-color: #606162;
}

/* Wiki section */
.wiki-container {
    background-color: #EFF2F5;
    color: #393B3D;
    font-size: 16px;
    font-weight: 400;
    height: 470px;
    line-height: 1.4em;
}

.wiki-content-wrapper {
    height: 100%;
    max-width: 1100px;
    text-align: center;
    margin: 0 auto;
}

.wiki-half-left {
    padding: 40px 0;
    display: inline-flex;
    width: 49.5%;
    height: 100%;
    vertical-align: middle;
}

.wiki-image {
    background-image: url(roblox_wiki.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100%;
    width: 100%;
}

.wiki-half-right {
    align-items: center;
    justify-content: center;
    display: inline-flex;
    width: 49.5%;
    height: 100%;
    vertical-align: middle;
    text-align: center;
    margin: 0 auto;
}

.wiki-text-container {
    width: 450px;
    height: auto;
    text-align: center;
}

.wiki-text-container h2 {
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 45px;
}

.wiki-text-container p{
    margin-bottom: 80px;
    font-size: 20px;
    font-weight: 400;
    line-height: 1.7rem;
}

.wiki-text-container a {
    font-size: 19px;
    font-weight: 400;
    display: inline;
    color: #606162;
}

/* footer section */
.footer-container {
    height: 500px;
    margin-top: 60px;
}
.footer-bg {
    background-image: url(bg_bottom_banner.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0 35%;
    display: flex;
    background-size: cover;
    width: 100%;
    height: 100%;
}

.footer-content {
    margin: auto;
    height: 150px;
    text-align: center;
    max-width: 970px;
}
.footer-content.flex {
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.footer-content h4 {
    font-size: 24px;
    font-weight: 600;
    line-height: 1.3em;
    color: #fff;
    padding-bottom: 15px;
    letter-spacing: 2px;
}

.download-btn button {
    background-color: #393b3d;
    border: none;
    color: #fff;
    border-radius: 8px;
    display: inline-block;
    font-size: 26px;
    font-weight: 400;
    margin-bottom: 26px;
    line-height: 31px;
    padding: 15px 15px;
    width: 310px;
}

.platform-icons i {
    color: #606162;
    font-size: 24px;
    margin: 0 8px;
}

/* Container-Footer */
.container-footer {
    background-color: #f2f4f5;
}

.footer {
    margin-top: 2rem;
}

.footer.flex {
    flex-direction: column;
}

ul.flex {
    gap: 2rem;
}

.footer ul li a {
    color: #606162;
    text-decoration: none;
    font-size: 1.10rem;
    font-weight: 500;
    letter-spacing: 0.5px;
}

.footer hr{
    border: none;
    border-bottom: 1px solid #393b3d;
    margin-top: 35px;
    width: 950px;
}

.footer p {
    color: #393B3D;
    font-size: 12px;
    margin-bottom: 1rem;
}
.flex {
    display: flex;
    justify-content: center;
    align-items: center;
}